<html>

<head>

</head>

<body>
    <input [value]="data" (input)='data=$event.target.value' />
    <br/> My name is:{{data}}
    <br/> Salary:{{salary|currency:'Rs.':true:'1.2-3'}}
    <br/> Date:{{date|date:"short"}}
    <br/> DOB:{{dob|date:"short"}}
    <br/> {{dob}}
    <br/> Medium:{{date|date:"medium"}}
    <br/> Specific Format:{{dob|date:"dd/MM/yyyy"}}
    <br/> Medium Time:{{date|date:"mediumTime"}}
    <br/>fullData:{{dob|date:"fullDate"|uppercase}}
    <br/>Slice:{{work|slice:5}}
    <br/> SliceExample:{{work|slice:5:8}}
    <br/> TitleCase:{{work|titlecase}}
    <img [src]="imageUrl | default:'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg':true" />
    <br/>

    <!--custom structural directive-->
    <h1 *appNot="true">True</h1>
    <h1 *appNot="false">False</h1>
    <h1 appHighlight>Highlight Me !</h1>
    <div *appNgLoop="let nr of numbers; index as i">
        Foo- {{ nr }} Index: {{ i }}
    </div>
    <async-pipe></async-pipe>
    <table border="1">
        <thead style="color: red;background: cadetblue;">
            <td>Code</td>
            <td>Employee Name</td>
            <td>Gender</td>
            <td>Salary</td>
        </thead>


        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.code}}</td>
                <td>{{employee.name|myPipe:employee.gender}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.salary}}</td>
            </tr>
        </tbody>

    </table>


</body>

</html>